<main>
    <header>
        <img src="../assets/logo.svg" alt="Fairhouse">Fairhouse
    </header>
    <section>
        <!-- using the housing-list selector tag -->
        <!-- setting an attribute locationList and setting the value to housingLocationList which is the name of the array we made in app.components.ts -->
        <app-housing-list [locationList]="housingLocationList" (selectedLocationEvent)="updateSelectedLocation($event)">
        </app-housing-list>
    </section>
    <article>
        <ng-container *ngIf="selectedLocation">
            <img [src]="selectedLocation?.photo">
            <p>{{selectedLocation?.name}}</p>
            <p>{{selectedLocation?.availableUnits}}</p>
            <p>{{selectedLocation?.city}}, {{selectedLocation?.state}}</p>
            <p>{{selectedLocation?.laundry ? "Has laundry" : "Does Not have laundry"}}</p>
            <p>{{selectedLocation?.wifi ? "Has wifi" : "Does Not have wifi"}}</p>
        </ng-container>
    </article>
</main>